body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #eee;
    height: 180px;
    color: darkcyan;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: darkcyan;
    text-decoration: none;
}

nav ul li a:hover{
    padding: 10px 10px;
    color: white;
    background-color: darkcyan;
}

nav ul li a.active{
    padding: 10px 10px;
    color: white;
    background-color: darkcyan;
}

header p, header select {
    margin: 10px 0;
}

#search input{
    margin: 0px;
    justify-content: center;
    border: solid 1px darkcyan;
    padding: 10px;
    width: 450px;
    border-radius: 50px;
    text-align: center;
    outline: none;
    color: darkcyan;
    font-size: 1em;
}

#search:focus {
    outline: none;
}

#category-filter {
    padding: 10px;
}

#category-filter ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#category-filter ul li {
    display: inline;
    margin: 5px;
    padding: 10px;
}

#category-filter ul li a {
    color: darkcyan;
    text-decoration: none;
}

#category-filter ul li a:hover{
    padding: 10px;
    width: 210px;
    color: white;
    background-color: darkcyan;
}

#category-filter ul li a.active{
    padding: 10px 10px;
    color: white;
    background-color: darkcyan;
}

main {
    padding: 30px;
}

#events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.event {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.product-name {
font-size: 18px;
margin-bottom: 0;
}

.event p{
    font-size: 14px;
}

.view-event{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 0;
    border: 1px solid darkcyan;
    width: 210px;
    margin: 10px auto;
}

.view-event:hover{
    color: white;
    background-color: darkcyan;
}

.event img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #eee;
    color: darkcyan;
    text-align: center;
    padding: 10px 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}




